.button {
    overflow: hidden;
    padding: 5px 24 px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14 px;
    line-height: 20px;
    cursor: pointer;
}

.secondaru {
    color: #0066cc;
    background: transparent;
    border: 1px solid #0066cc;
    border-radius: 3px;
}

.default {
    background: #06c;
}

.red{
    background: #cc1439;
}

.default:hover {
    background: #e5f0fa;
}

.default:active {
    background: #0059b3;
}

.secondaru:active {
    background: #c9e5ff;
}

.red:active {
    background: #b31232;
}
.disabled {
    color: #002e5c;
    background: #58646f;
    opacity: 0.5;
}

.button:disabled {
    cursor: default;
}